%div{:class => 'container-fluid'}
  %div{:class => 'row'}
    / left-pannel : channel, status, search etc.
    %div{:class => 'col-md-3 channel-left'}
      / search channel
      %form{:class => 'search-form search-channel', :role => 'form'}
        %div{:class => 'form-group custom-form-group'}
          %input{:class => 'form-control input-lg', :type => 'text', :placeholder => " Search Channel : ##{locals[:value]}"}
      / horizontal divider
      %div{:class => 'hz-divider'}
      %div{:class => 'channels'}
        %h4{:class => 'channels-heading'}
          CHANNELS
        %ul
          - locals[:channels].each do |channel|
            %li{:class => 'channels-channel'}
              %a{:href => "/channel/#{channel}"}
                %span{:class => 'channels-prefix'}
                  ="#"
                %span{:class => 'channels-data'}
                  ="#{channel}"
    / right-pannel : messages related data
    %div{:class => 'col-md-9 channel-right'}
      %ul{:class => 'breadcrumb'}
        %li
          %a{:href => '/'}
            #{locals[:team]}
        %li
          %a{:href => '/channels'}
            Channels
        %li{:class => 'active'}
          #{locals[:value]}
